{% extends 'base.html.twig' %}

{% block title %}Jobs!{% endblock %}

{% block body %}
<div class="container">
    <h1 class="mt-2 mb-2">Jobs</h1>
    {% if jobs|length > 0 %}
    <table id="myTable" class="table table-hover">
        <thead>
        <tr>
            <th>Job ID</th>
            <th>Job name</th>
            <th>Job quantity</th>
            <th> </th>
        </tr>
        </thead>
        <tbody>
        {% for job in jobs  %}
            <tr class="">
                <td>{{ job.id }}</td>
                <td>{{ job.Jobname}}</td>
                <td>{{ job.Jobquantity }}</td>

            </tr>
        {% endfor %}
        {% else %}
            <h3>There are no jobs :( </h3>
        {% endif %}
        </tbody>
    </table>
</div>
{% endblock %}
